i {
    margin: 1rem;
}

main {
    background-color: white;
}

#produit {
    text-align: center;
    background-color: white;
}

.Img_produit {
    width: 40rem;
    margin-left: -7rem;
}

#ChoixCouleurs{
    text-align: center;
    margin: 2rem;
}

#Couleurs {
    border-radius: 1rem;
    background-color: #ededed;
    padding: 0.5rem;
    cursor: pointer;
}

